@font-face {
  font-family: "Gilroy Bold";
  src: url("../public/fonts/gilroy-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy Black";
  src: url("../public/fonts/gilroy-black-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: "Gilroy Bold", sans-serif;
}
